input{

  padding: 5px;
  box-shadow: none !important;
}
.panel-body{
  padding:5px !important;
}
.col-xs-3{
  padding: 8px;
  text-align: right;
}
.my-btn{
  float: right;
  font-size: 16px;
  padding: 5px !important;
}
